* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anaheim', sans-serif;
}
body {
    background-color: #fcf9f9;
}
nav {
    /* position: fixed;
    top: 0;
    width: 100%; */
    font-size: 2em;
    padding: 30px 25px;
    background-color: #272828;
    overflow: hidden;
    border-bottom: 2px solid #b7f93e;
}
.flex-container {
    display: flex;
    justify-content: space-around;
}
.name {
    width: 100%;
    font-family: 'Pirata One', cursive;
    color: #e8e5e5;
}
nav a {
    font-family: 'Pirata One', cursive;
    text-decoration: none;
    color: #17dc62;
}
nav a:hover {
    color: #b7f93e;
    text-shadow: 0 0 10px #17dc62;
}
li {
    list-style: none;
    padding: 0 45px;
}
li:nth-child(n+2) {
    margin-left: auto;
}
main {
    margin: 0 25px;
}
div div a, p a {
    text-decoration-color: #17dc62;
    color: #272828;
}
section {
    padding: 30px 0;
}
h2 {
    text-align: center;
    font-family: 'Pirata One', cursive;
    font-size: 2.5em;
    margin-top: 15px;
}
h3 {
    margin: 15px 0 2px;
    font-size: 1.5em;
    font-style: italic;
}
h4 {
    margin-bottom: 10px;
    font-style: italic;
}
p {
    font-size: 1.3em;
    padding: 15px 30px;
}
#projects div div {
    width: 85%;
    margin: 15px auto;
    text-align: center;
    border-top: 3px solid #e8e5e5;
}
#projects li {
    display: inline-block;
    margin: 0 0 5px;
    padding: 0 10px;
    background-color: #e8e5e5;
    border: 1px solid #b7f93e;
    border-radius: 3px;
}
#projects div div p {
    text-align: left;
}
.portfolio_img {
    max-width: 100%;
    height: auto;
    border: 1px solid #17dc62;
    text-align: center;
    margin-bottom: 7px;
}
#contact {
    text-align: center;
}
#contact div {
    display: inline-block;
    margin: 25px 50px;
    padding: 20px;
    border: 2px solid #fcf9f9;
}
#contact div:hover {
    border-top: 2px solid #b7f93e; 
    background: linear-gradient(#e8e5e5, #fcf9f9, #fcf9f9);
    box-shadow: 0 7px 10px -7px;
}
#contact a:first-of-type h3 {
    font-style: normal;
    margin: 2px 0 0;
}
#contact h3 {
    font-style: normal;
}
#contact img {
    display: block;
    margin: 0 auto; 
}
#contact a {
    text-decoration: none;
    color: black;
    
}
#contact .portfolio_img {
    height: 300px;
}
/* img.#codewars  {
    margin: 0 0 15px;
} */
footer {
    background-color: #272828;
    color: #b7f93e;
    text-align: center;
}
sup {
    font-size: .6em;
}
@media all and (max-width: 750px) {
    main {
        margin: 0 15px;
    }
    nav {
        text-align: center;
    }
    .flex-container {
        flex-direction: column;
    }
    .name {
        margin: 0 0 20px;
        width: 100%;
    }
    li {
        margin: 10px auto;
    }
    #projects div div {
        width: 100%;
    }
    p {
        font-size: 1.1em;
        padding: 5px 20px;
    }
    #contact div {
        margin: 5px 50px;
        padding: 7px;
        font-size: .8em;
    }
}